* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 32px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
}

.h4--list-contact {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .h4--list-contact {
    font-size: 14px;
    line-height: 20px;
  }
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 24px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0 180px;
  }
}

.header__logo {
  padding: 20px 0 0;
}

@media (min-width: 768px) {
  .header__logo {
    padding: 0;
    margin-right: 56px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .header__list {
    width: 30%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100%;
  }
}

.header__list-item {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .header__list-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .header__list-item {
    width: 80px;
    margin: 0 56px 0 0;
  }
}

.header__list-item--active {
  border-bottom: solid 5px #ffffff;
}

.header__list-item-anchor {
  color: grey;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header__list-item-anchor--active {
  color: #ffffff;
  -webkit-transform: translateY(2.5px);
          transform: translateY(2.5px);
}

.hero {
  background-image: url(/Assets/Images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

.hero__text {
  color: #ffffff;
  margin: 16px;
}

@media (min-width: 768px) {
  .hero__text {
    margin: 24px;
    font-size: 80px;
    line-height: 98px;
  }
}

@media (min-width: 1200px) {
  .hero__text {
    margin: 0 180px;
  }
}

.main {
  font-family: "Roboto", sans-serif;
  color: #323232;
}

.about {
  margin: 16px;
}

@media (min-width: 768px) {
  .about {
    margin: 24px;
  }
}

@media (min-width: 1200px) {
  .about {
    margin: 0 180px;
  }
}

.about__hero-title {
  margin: 36px 0 24px;
}

@media (min-width: 1200px) {
  .about__desktop-resize {
    width: 896px;
    margin: 0 auto;
  }
}

.about__hero-img {
  width: 100%;
}

@media (min-width: 1200px) {
  .about__hero-img {
    width: 896px;
  }
}

.about__hero-text {
  margin: 24px 0 40px;
}

@media (min-width: 1200px) {
  .about__hero-text {
    width: 896px;
  }
}

.about__hero-author {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .about__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.about__article-title {
  margin: 32px 0 24px;
}

.about__article-text {
  margin: 0 0 40px;
}

@media (min-width: 768px) {
  .about__article-text {
    padding-right: 24px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .about__article-text {
    padding-right: 40px;
    width: 420px;
    padding-bottom: 48px;
  }
}

.gallery {
  padding: 16px;
  background: #fafafa;
}

@media (min-width: 768px) {
  .gallery {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  .gallery {
    padding: 48px 180px;
  }
}

.gallery__title {
  padding: 32px 0 24px;
}

@media (min-width: 1200px) {
  .gallery__title {
    margin-bottom: 40px;
    padding: 0;
  }
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .gallery__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__img {
  width: 100%;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .gallery__img {
    width: calc((100% - 48px) / 3);
    padding: 12px 0;
  }
}

.footer {
  background: #323232;
  padding: 40px 8px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 24px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 48px 180px;
  }
}

@media (min-width: 768px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo {
    display: block;
    width: 120px;
  }
}

.footer__icon {
  padding: 8px;
}

@media (min-width: 768px) {
  .footer__icon {
    margin-left: 50px;
  }
}

.footer__icon-img {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__content-item {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 24px 0 0;
}

@media (min-width: 768px) {
  .footer__content-item {
    margin-right: 24px;
  }
}

@media (min-width: 1200px) {
  .footer__content-item {
    margin-right: 48px;
  }
}

.footer__content-title {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__content-title {
    padding-bottom: 24px;
  }
}

.footer__content-info {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__content-info {
    padding-bottom: 24px;
  }
}

.footer__content-email {
  color: #ffffff;
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
}

@media (min-width: 768px) {
  .footer__content-email {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .footer__copyright--inline {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */