@import "partials/reset";
@import "partials/fonts";
@import "partials/mixin";
@import "partials/variables";



.header{
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;

  @include tablet{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 180px;
  }


  &__logo{
    padding: 20px 0 0;

    @include tablet{
      padding: 0;
      margin-right: 56px;
    }
  }

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    @include tablet{
      width: 30%;
      align-items: stretch;
      height: 100%;
    }
  }

  &__list-item{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 16px;

    @include tablet{
      align-items: center;
      padding: 0;
    }

    @include desktop{
      width: 80px;
      margin: 0 56px 0 0;
    }

    &--active{
      border-bottom: solid 5px $white;
    }
  }

  &__list-item-anchor{
    color: $nav-static-color;
    text-decoration: none;
    font-weight: 500;

    &--active{
      color: $white;
      transform: translateY(2.5px);
    }
  }
}



.hero{
  background-image: 
  linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,01)),
  url(/Assets/Images/austin-neill-hgO1wFPXl3I.jpg);
  background-position: center;
  background-size: cover;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include tablet{
    height: 400px;
  }

  @include desktop{
    height: 670px;
    width: 100%;
  }

  &__text{
    color: $white;
    padding: 16px;

    @include tablet{
      padding: 24px;
      @include hero-header;
    }

    @include desktop{
      padding: 0 180px
    }
  }

}

.bio-figure{
  padding: 0 1rem 2.5rem;

  @include tablet{
    padding: 0 2rem 3.5rem;
  }

  @include desktop{
    padding: 0 11.25rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__container{
    @include desktop{
    max-width: 896px;
    }
  }

  &__title{
    
    padding: 2rem 1rem 1.5rem;

    @include tablet{
      padding: 2rem 2rem 1.5rem;
    }

    @include desktop{
      padding: 3rem 11.25rem 3rem;
    }
  }

  &__img{
    width: 100%;
  }

  &__text{
    padding-top: 24px;

    @include tablet{
      padding-top: 3rem;
    }
  }

  &__author{
    padding-top: 2rem;

    @include tablet{
      padding-top: 2.5rem;
    }
  }
}

.bio{
  padding: 0 1rem 2.5rem;

  @include tablet{
    padding: 0 2rem 3rem;
  }

  @include desktop{
    padding: 0 11.25rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__container{
    @include desktop{
      max-width: 896px;
    }
  }

  &__article{
    
    @include tablet{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__title{

    @include desktop{
      padding-bottom: 32px;
    }
  }

  &__text{
    padding-top: 1.5rem;

    @include tablet{
      width: calc(50% - 1.5rem);
      padding-top: 2rem;
    }

    @include desktop{
      width: calc(50% - 2.5rem);
    }
  }
}

.gallery{
  padding: 2rem 1rem 2.5rem;
  background: $offwhite;

  @include tablet{
    padding: 3rem 1.5rem 2.5rem;
  }

  @include desktop{
    padding: 3rem 11.25rem 2.5rem;
  }

  &__title{

    @include tablet{
      padding-bottom: 4rem;
    }
  }

  &__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__img{
    width: 100%;
    padding-bottom: 1rem;

    @include tablet{
      width: calc((100% - 3rem) / 3);
      padding: 12px 0;
    }
  }
}

.footer{
  background: $black;
  padding: 3rem .5rem;
  color: $white;

  @include tablet{
    padding: 3rem 1.5rem;
  }

  @include desktop{
    padding: 3rem 11.25rem;
  }

  &__item{
    
    @include tablet{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3.5rem;
    }
  }

  &__social{

    @include tablet{
      display: flex;
      align-items: center;
    }
  }

  &__logo{
    display: none;

    @include tablet{
      display: block;
      width: 120px;
    }
  }

  &__text{
    font-size: 2.5rem;
  }

  &__icon{
    // background: pink;
    padding: 2rem 0;

    @include tablet{
      margin-left: 50px;
      padding: 0;
    }
  }

  &__icon-img{
    padding: 0 1rem;

    @include tablet {
      padding: 0 1rem;
    }
  }

  &__content{

    @include tablet{
      display: flex;
      justify-content: flex-start;
    }
  }

  &__content-item{

    @include tablet{
      margin-right: 21px;
    }

    @include desktop{
      margin-right: 48px;
    }
  }

  &__content-title{
    padding-bottom: 1.5rem;
  }

  &__content-info{
    padding-bottom: 1.5rem;
  }

  &__content-email{
    color: $white;
    padding-bottom: 2.5rem;
    text-decoration: none;
    display: block;
    font-size: .8125rem;

    @include tablet{
      font-size: .875rem;
    }
  }

  &__copyright{
    
    @include tablet{
      margin-top: 0;
    }
    &--inline{
      @include tablet{
        display: none;
      }
    }
  }
}