@import "partials/reset";
@import "partials/fonts";
@import "partials/mixin";
@import "partials/variables";



// fontz yall




.header{
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__logo{
    margin: 20px 0 10px;
  }

  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__list-item{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 15px;

    &--active{
      border-bottom: solid 5px white;
    }
  }

  &__list-item-anchor{
    color: grey;
    text-decoration: none;
    font-family: $font;

    &--active{
      color: white;
    }
  }
}

.hero{
  background-image: url(/Assets/Images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__text{
    color: white;
    margin: 16px;
  }

}

.main{
  font-family: $font;
  color: $black;
}

.about{

  margin: 16px;

  &__hero-img{
    width: 100%;
  }
}

.gallery{
  margin: 16px;

  &__items{

  }

  &__img{
    width: 100%;
    margin: 8px 0;
    background: pink;
  }
}