// font import test

@font-face{
  font-family: "AvenirNextPro";
  src: url(/Assets/Font/edited-names/AvenirNext-regular.otf);
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: "AvenirNextPro";
  src: url(/Assets/Font/edited-names/AvenirNext-demi.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "AvenirNextPro";
  src: url(/Assets/Font/edited-names/AvenirNext-bold.otf);
  font-weight: bold;
  font-style: normal;
}